---
extends:
  - eslint:recommended
  - eslint-config-shakacode
  - prettier

globals:
  __DEBUG_SERVER_ERRORS__: true
  __SERVER_ERRORS__: true

parserOptions:
  # We have @babel/eslint-parser from eslint-config-shakacode, but don't use Babel in the main project
  requireConfigFile: false

plugins:
  - jest
  - prettier
env:
  browser: true
  node: true
  jest: true

rules:
  no-console: 0

  # https://github.com/benmosher/eslint-plugin-import/issues/340
  import/no-extraneous-dependencies: 0

  jest/no-disabled-tests: "warn"
  jest/no-focused-tests: "error"
  jest/no-identical-title: "error"
  jest/prefer-to-have-length: "warn"
  jest/valid-expect: "error"
  import/prefer-default-export: "off"

  # incompatible with prettier
  no-mixed-operators: 0
