This page demonstrates the use of setTimeout during server rendering.<br/>


<br/>

Here's the render-function:

<pre>
  export default async (_props, _railsContext) => {
    // eslint-disable-next-line no-console
    let x = 'initial value';
    x = await new Promise(resolve => {
     setTimeout(() => {
       resolve('value set by setTimeout');
     }, 1);
   });
    const Komponent = () => <div>Called setTimeout during SSR and returned this {x}.</div>
    return {
      componentHtml: renderToString(<Komponent />)
    };
  };

</pre>

Here's the helper method call in the view:

<pre>
  <%%= react_component_hash("SetTimeoutLoggingApp", prerender: true, trace: true)['componentHtml'] %>
</pre>

Result: <%= react_component_hash("SetTimeoutLoggingApp", prerender: true, trace: true)['componentHtml'] %>
