<%= react_component("ReactServerComponentPage", 
    prerender: false,
    trace: true,
    id: "ReactServerComponentPage-react-component-0") %>
<hr/>

<%= javascript_pack_tag('client-bundle', 'data-turbolinks-track': true, defer: false) %>

<h1>React Server Component without SSR</h1>
