<%= stream_react_component("RSCPostsPage", props: @app_props_server_render, prerender: true, trace: true, id: "RSCPostsPage-react-component-0") %>
<hr/>

<h1>React Rails Server Streaming Server Rendered RSC Components</h1>
